@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-signal"></i> 按鍵測試</a>
<br />
<input type="button"  class="btn btn-group" value=" 按鍵測試"/>
<br />
<button class="btn btn-primary"><i class="glyphicon glyphicon-signal"><i class="glyphicon glyphicon-qrcode"></i></i> 按鍵測試</button>
